.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-row {
  display: flex;
  flex-direction: row;
}

.grid-cell {
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;

  width: 15px;
  height: 15px;
}

.grid-cell-border {
  background-color: #000000;
}

.grid-cell-snake {
  background-color: #000000;
}

.grid-cell-snack {
  background-color: blue;
}

.grid-cell-hit {
  background-color: red;
}