.grid {

}

.grid-row {
  display: flex;
  flex-direction: row;
}

.grid-cell {
  display: flex;
  flex-direction: column;

  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
  width: 15px;
  height: 15px;
}

.grid-cell-border {
  background-color: #000000;
}

.grid-cell-snake {
  background-color: #000000;
}

.grid-cell-snack {
  background-color: #008000;
}

.grid-cell-hit {
  background-color: red;
}

.grid-cell:last-child {
  border-right: 1px solid #000000;
}